.desktop {
  background-color: #1d224f7d;
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.desktop .text-wrapper {
  position: absolute;
  top: 92px;
  left: 556px;
  text-shadow: 3px 7px 13.9px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  position: absolute;
  top: 257px;
  left: calc(50.00% - 613px);
  width: 1227px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 350px;
  left: 45px;
  width: 335px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 350px;
  left: 552px;
  width: 335px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 350px;
  left: 999px;
  width: 335px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .danjai-pic {
  position: absolute;
  top: 452px;
  left: 999px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .lewis-pic {
  position: absolute;
  top: 687px;
  left: 1188px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 591px;
  left: 1015px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .abifal-pic {
  position: absolute;
  top: 687px;
  left: 999px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .feven-pic {
  position: absolute;
  top: 452px;
  left: 1181px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .line {
  top: 380px;
  left: 480px;
  width: 1px;
  height: 549px;
  position: absolute;
  object-fit: cover;
}

.desktop .img {
  top: 380px;
  left: 960px;
  width: 1px;
  height: 549px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 632px;
  left: 45px;
  width: 368px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  top: 430px;
  left: 45px;
  width: 396px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 712px;
  left: 45px;
  width: 396px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line-2 {
  top: 646px;
  left: 44px;
  width: 397px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 591px;
  left: 1204px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 836px;
  left: 1002px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 836px;
  left: 1214px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text {
  position: absolute;
  top: 714px;
  left: 630px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 508px;
  left: 480px;
  width: 480px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .highly-recommended {
  position: absolute;
  top: 673px;
  left: 480px;
  width: 480px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 556px;
  left: 801px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  top: 452px;
  left: 524px;
  position: absolute;
  width: 256px;
  height: 56px;
}

.desktop .star {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-2 {
  left: 50px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-3 {
  left: 100px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-4 {
  left: 150px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-5 {
  left: 200px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .group-2 {
  top: 620px;
  left: 631px;
  position: absolute;
  width: 256px;
  height: 56px;
}

.desktop .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  object-fit: cover;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 14px;
  left: 475px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 14px;
  left: 731px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  position: absolute;
  top: 14px;
  left: 1030px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}
/* Inject original globals.css styles here */

.desktop {
  background-color: #1d224f7d;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.header {
  position: relative;
  width: 100%;
  height: 82px;
}

.nav {
  display: flex;
  gap: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.desktop .text-wrapper {
  position: absolute;
  top: 92px;
  left: 556px;
  text-shadow: 3px 7px 13.9px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .div {
  position: absolute;
  top: 257px;
  left: calc(50.00% - 613px);
  width: 1227px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.hero-section {
  position: relative;
}

.content-wrapper {
  position: relative;
}

.student-services-section {
  position: relative;
}

.testimonials-section {
  position: relative;
}

.creators-section {
  position: relative;
}

.testimonial-item {
  position: relative;
}

.testimonial-item blockquote {
  margin: 0;
  padding: 0;
}

.testimonial-item blockquote p {
  margin: 0;
}

.testimonial-item blockquote footer {
  margin: 0;
}

.testimonial-item blockquote cite {
  font-style: normal;
}

.creator-card {
  position: relative;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 350px;
  left: 45px;
  width: 335px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 350px;
  left: 552px;
  width: 335px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 350px;
  left: 999px;
  width: 335px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .danjai-pic {
  position: absolute;
  top: 452px;
  left: 999px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .lewis-pic {
  position: absolute;
  top: 687px;
  left: 1188px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 591px;
  left: 1015px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .abifal-pic {
  position: absolute;
  top: 687px;
  left: 999px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .feven-pic {
  position: absolute;
  top: 452px;
  left: 1181px;
  width: 163px;
  height: 163px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .line {
  top: 380px;
  left: 480px;
  width: 1px;
  height: 549px;
  position: absolute;
  object-fit: cover;
}

.desktop .img {
  top: 380px;
  left: 960px;
  width: 1px;
  height: 549px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 632px;
  left: 45px;
  width: 368px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .p {
  position: absolute;
  top: 430px;
  left: 45px;
  width: 396px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 712px;
  left: 45px;
  width: 396px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .line-2 {
  top: 646px;
  left: 44px;
  width: 397px;
  height: 1px;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 591px;
  left: 1204px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 836px;
  left: 1002px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-10 {
  position: absolute;
  top: 836px;
  left: 1214px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text {
  position: absolute;
  top: 714px;
  left: 630px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-11 {
  position: absolute;
  top: 508px;
  left: 480px;
  width: 480px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .highly-recommended {
  position: absolute;
  top: 673px;
  left: 480px;
  width: 480px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-12 {
  position: absolute;
  top: 556px;
  left: 801px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group {
  top: 452px;
  left: 524px;
  position: absolute;
  width: 256px;
  height: 56px;
}

.desktop .star {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-2 {
  left: 50px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-3 {
  left: 100px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-4 {
  left: 150px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .star-5 {
  left: 200px;
  position: absolute;
  top: 0;
  width: 56px;
  height: 56px;
  aspect-ratio: 1;
  object-fit: cover;
}

.desktop .group-2 {
  top: 620px;
  left: 631px;
  position: absolute;
  width: 256px;
  height: 56px;
}

.desktop .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  object-fit: cover;
}

.desktop .text-wrapper-13 {
  position: absolute;
  top: 14px;
  left: 475px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-14 {
  position: absolute;
  top: 14px;
  left: 731px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-15 {
  position: absolute;
  top: 14px;
  left: 1030px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}
