

.desktop {
  background-color: #1c214f7d;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.desktop .image {
  top: 82px;
  left: 19px;
  width: 1362px;
  height: 907px;
  aspect-ratio: 1.5;
  position: absolute;
  object-fit: cover;
}

.desktop .img {
  top: 0;
  left: 0;
  width: 295px;
  height: 82px;
  aspect-ratio: 3.56;
  position: absolute;
  object-fit: cover;
}

.desktop .UI {
  position: absolute;
  top: 0;
  left: 409px;
  width: 802px;
  height: 1061px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 310px;
  left: 236px;
  width: 392px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle {
  position: absolute;
  top: 373px;
  left: 4px;
  width: 129px;
  height: 42px;
  background-color: #e6aa27;
  border: 0px none;
  box-shadow: 3px 7px 14px #000000d6;
}

.desktop .mask-group {
  position: absolute;
  top: 363px;
  left: 286px;
  width: 69px;
  height: 64px;
  box-shadow: 3px 7px 14px #000000d6;
}

.desktop .ellipse {
  position: absolute;
  top: -3px;
  left: 2px;
  width: 65px;
  height: 69px;
  background-color: #b13333;
  border-radius: 32.35px / 34.69px;
  border: 1px solid;
  border-color: #000000;
  transform: rotate(-91.04deg);
  box-shadow: 0px 4px 4px #00000040;
  opacity: 0.9;
}

.desktop .div {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 48px;
  height: 45px;
  background-color: #241c7d;
  border-radius: 24.02px / 22.46px;
}

.desktop .arrow {
  position: absolute;
  top: 378px;
  left: 136px;
  width: 118px;
  height: 43px;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 387px;
  left: 133px;
  width: 14px;
  height: 16px;
  background-color: #dc2222;
  box-shadow: 3px 7px 14px #000000d6;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 510px;
  left: 209px;
  width: 269px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 593px;
  left: 161px;
  width: 269px;
  height: 66px;
  background-color: #0e0232;
  border-radius: 101px;
  border: 1px solid;
  border-color: #171143;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 698px;
  left: 168px;
  width: 269px;
  height: 66px;
  background-color: #0e0232;
  border-radius: 101px;
  border: 1px solid;
  border-color: #171143;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 968px;
  left: 192px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 968px;
  left: 594px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 684px;
  left: 212px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 579px;
  left: 218px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 300px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 599px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}
/* Inject original globals.css styles here */

.desktop {
  background-color: #1c214f7d;
  overflow: hidden;
  border: 1px solid;
  border-color: #000000;
  width: 100%;
  min-width: 1402px;
  min-height: 1049px;
  position: relative;
}

.desktop .image {
  top: 82px;
  left: 19px;
  width: 1362px;
  height: 907px;
  aspect-ratio: 1.5;
  position: absolute;
  object-fit: cover;
}

.desktop .img {
  top: 0;
  left: 0;
  width: 295px;
  height: 82px;
  aspect-ratio: 3.56;
  position: absolute;
  object-fit: cover;
}

.desktop .UI {
  position: absolute;
  top: 0;
  left: 409px;
  width: 802px;
  height: 1061px;
}

.desktop .navigation {
  position: relative;
  width: 100%;
  height: 82px;
}

.desktop .text-wrapper {
  position: absolute;
  top: 310px;
  left: 236px;
  width: 392px;
  text-shadow: 3px 7px 14px #000000d6;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.desktop .rectangle {
  position: absolute;
  top: 373px;
  left: 4px;
  width: 129px;
  height: 42px;
  background-color: #e6aa27;
  border: 0px none;
  box-shadow: 3px 7px 14px #000000d6;
}

.desktop .mask-group {
  position: absolute;
  top: 363px;
  left: 286px;
  width: 69px;
  height: 64px;
  box-shadow: 3px 7px 14px #000000d6;
}

.desktop .ellipse {
  position: absolute;
  top: -3px;
  left: 2px;
  width: 65px;
  height: 69px;
  background-color: #b13333;
  border-radius: 32.35px / 34.69px;
  border: 1px solid;
  border-color: #000000;
  transform: rotate(-91.04deg);
  box-shadow: 0px 4px 4px #00000040;
  opacity: 0.9;
}

.desktop .div {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 48px;
  height: 45px;
  background-color: #241c7d;
  border-radius: 24.02px / 22.46px;
}

.desktop .arrow {
  position: absolute;
  top: 378px;
  left: 136px;
  width: 118px;
  height: 43px;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 387px;
  left: 133px;
  width: 14px;
  height: 16px;
  background-color: #dc2222;
  box-shadow: 3px 7px 14px #000000d6;
}

.desktop .hero-section {
  position: relative;
}

.desktop .user-selection {
  position: relative;
}

.desktop .footer-navigation {
  position: relative;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 510px;
  left: 209px;
  width: 269px;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 593px;
  left: 161px;
  width: 269px;
  height: 66px;
  background-color: #0e0232;
  border-radius: 101px;
  border: 1px solid;
  border-color: #171143;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.desktop .rectangle-3:hover {
  background-color: #1a0a4a;
  transform: scale(1.02);
}

.desktop .rectangle-3:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 698px;
  left: 168px;
  width: 269px;
  height: 66px;
  background-color: #0e0232;
  border-radius: 101px;
  border: 1px solid;
  border-color: #171143;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.desktop .rectangle-4:hover {
  background-color: #1a0a4a;
  transform: scale(1.02);
}

.desktop .rectangle-4:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.desktop .text-wrapper-3:hover {
  color: #e6aa27;
}

.desktop .text-wrapper-3:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 968px;
  left: 192px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.desktop .text-wrapper-4:hover {
  color: #e6aa27;
}

.desktop .text-wrapper-4:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 968px;
  left: 594px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.desktop .text-wrapper-5:hover {
  color: #e6aa27;
}

.desktop .text-wrapper-5:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.desktop .text-wrapper-6 {
  position: relative;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.desktop .text-wrapper-7 {
  position: relative;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 0;
  left: 300px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.desktop .text-wrapper-8:hover {
  color: #e6aa27;
}

.desktop .text-wrapper-8:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 0;
  left: 599px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

.desktop .text-wrapper-9:hover {
  color: #e6aa27;
}

.desktop .text-wrapper-9:focus {
  outline: 2px solid #4a90e2;
  outline-offset: 2px;
}
