
.desktop {
  background-color: #1d224f;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: -43px;
  left: -18px;
  width: 1482px;
  height: 143px;
  background-color: #0f182b;
  border-radius: 15px;
}

.desktop .group {
  top: 841px;
  left: -83px;
  width: 264px;
  height: 222px;
  background-color: #3e7e90;
  border-radius: 132px / 111px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse {
  margin-top: 27px;
  width: 40px;
  height: 40px;
  margin-left: 112px;
  background-color: #5ea1b4;
  border-radius: 20px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .ellipse-wrapper {
  top: 908px;
  left: 1261px;
  width: 179px;
  height: 179px;
  background-color: #3e7e90;
  border-radius: 89.5px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .div {
  margin-top: 29.8px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 68.9px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .div-wrapper {
  top: 285px;
  left: 1330px;
  width: 179px;
  height: 179px;
  background-color: #3e7e90;
  border-radius: 89.5px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-2 {
  margin-top: 56px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 11px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-2 {
  top: 921px;
  left: 653px;
  width: 209px;
  height: 206px;
  background-color: #3e7e90;
  border-radius: 104.5px / 103px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-3 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #5da9bf;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-3 {
  top: 883px;
  left: 511px;
  width: 209px;
  height: 206px;
  background-color: #53a1b6;
  border-radius: 104.5px / 103px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-4 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #469bb2;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-4 {
  top: 908px;
  left: 1104px;
  width: 209px;
  height: 206px;
  background-color: #1e8ba9;
  border-radius: 104.5px / 103px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-5 {
  margin-top: 66px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 89px;
  background-color: #72adbe;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-5 {
  top: 931px;
  left: 127px;
  width: 164px;
  height: 169px;
  background-color: #458ea3;
  border-radius: 82px / 84.5px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-6 {
  margin-top: 55px;
  width: 29.55px;
  height: 30.45px;
  margin-left: 39px;
  background-color: #5ea1b4;
  border-radius: 14.77px / 15.23px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-6 {
  top: 389px;
  left: -57px;
  width: 157px;
  height: 164px;
  background-color: #1e8ba9;
  border-radius: 78.5px / 82px;
  transform: rotate(180deg);
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-7 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #58a0b4e0;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-7 {
  top: 273px;
  left: -88px;
  width: 157px;
  height: 164px;
  background-color: #40b0cf;
  border-radius: 78.5px / 82px;
  transform: rotate(180deg);
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-8 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #75b6c9;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-8 {
  top: 430px;
  left: 1373px;
  width: 154px;
  height: 154px;
  background-color: #1e8ba9;
  border-radius: 77px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-9 {
  margin-top: 82px;
  width: 27.75px;
  height: 27.75px;
  margin-left: 47px;
  background-color: #72adbe;
  border-radius: 13.88px / 13.87px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 427px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 739px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 1047px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 136px;
  left: 483px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 241px;
  left: 154px;
  width: 501px;
  height: 84px;
  background-color: #d9d9d9;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 241px;
  left: 731px;
  width: 501px;
  height: 84px;
  background-color: #d9d9d9;
}

.desktop .location-lubbock {
  position: absolute;
  top: 252px;
  left: -163px;
  width: 855px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .annual-salary {
  position: absolute;
  top: 250px;
  left: 404px;
  width: 855px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 363px;
  left: 180px;
  width: 1070px;
  height: 163px;
  background-color: #d9d9d9;
}

.desktop .p {
  position: absolute;
  top: 381px;
  left: 210px;
  width: 999px;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 567px;
  left: 196px;
  width: 1036px;
  height: 243px;
  background-color: #d9d9d9;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 567px;
  left: 196px;
  width: 1036px;
  height: 243px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
/* Inject original globals.css styles here */

.desktop {
  background-color: #1d224f;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: -43px;
  left: -18px;
  width: 1482px;
  height: 143px;
  background-color: #0f182b;
  border-radius: 15px;
}

.desktop .group {
  top: 841px;
  left: -83px;
  width: 264px;
  height: 222px;
  background-color: #3e7e90;
  border-radius: 132px / 111px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse {
  margin-top: 27px;
  width: 40px;
  height: 40px;
  margin-left: 112px;
  background-color: #5ea1b4;
  border-radius: 20px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .ellipse-wrapper {
  top: 908px;
  left: 1261px;
  width: 179px;
  height: 179px;
  background-color: #3e7e90;
  border-radius: 89.5px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .div {
  margin-top: 29.8px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 68.9px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .div-wrapper {
  top: 285px;
  left: 1330px;
  width: 179px;
  height: 179px;
  background-color: #3e7e90;
  border-radius: 89.5px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-2 {
  margin-top: 56px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 11px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-2 {
  top: 921px;
  left: 653px;
  width: 209px;
  height: 206px;
  background-color: #3e7e90;
  border-radius: 104.5px / 103px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-3 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #5da9bf;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-3 {
  top: 883px;
  left: 511px;
  width: 209px;
  height: 206px;
  background-color: #53a1b6;
  border-radius: 104.5px / 103px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-4 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #469bb2;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-4 {
  top: 908px;
  left: 1104px;
  width: 209px;
  height: 206px;
  background-color: #1e8ba9;
  border-radius: 104.5px / 103px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-5 {
  margin-top: 66px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 89px;
  background-color: #72adbe;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-5 {
  top: 931px;
  left: 127px;
  width: 164px;
  height: 169px;
  background-color: #458ea3;
  border-radius: 82px / 84.5px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-6 {
  margin-top: 55px;
  width: 29.55px;
  height: 30.45px;
  margin-left: 39px;
  background-color: #5ea1b4;
  border-radius: 14.77px / 15.23px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-6 {
  top: 389px;
  left: -57px;
  width: 157px;
  height: 164px;
  background-color: #1e8ba9;
  border-radius: 78.5px / 82px;
  transform: rotate(180deg);
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-7 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #58a0b4e0;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-7 {
  top: 273px;
  left: -88px;
  width: 157px;
  height: 164px;
  background-color: #40b0cf;
  border-radius: 78.5px / 82px;
  transform: rotate(180deg);
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-8 {
  margin-top: 83.1px;
  width: 28.29px;
  height: 29.55px;
  margin-left: 9.6px;
  background-color: #75b6c9;
  border-radius: 14.14px / 14.77px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-8 {
  top: 430px;
  left: 1373px;
  width: 154px;
  height: 154px;
  background-color: #1e8ba9;
  border-radius: 77px;
  position: absolute;
  display: flex;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-9 {
  margin-top: 82px;
  width: 27.75px;
  height: 27.75px;
  margin-left: 47px;
  background-color: #72adbe;
  border-radius: 13.88px / 13.87px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  object-fit: cover;
}

.desktop nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 427px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.desktop .text-wrapper:hover,
.desktop .text-wrapper:focus {
  opacity: 0.8;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 0;
  left: 739px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.desktop .text-wrapper-2:hover,
.desktop .text-wrapper-2:focus {
  opacity: 0.8;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 0;
  left: 1047px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.desktop .text-wrapper-3:hover,
.desktop .text-wrapper-3:focus {
  opacity: 0.8;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 136px;
  left: 483px;
  height: 83px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .job-details {
  position: relative;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 241px;
  left: 154px;
  width: 501px;
  height: 84px;
  background-color: #d9d9d9;
}

.desktop .rectangle-3 {
  position: absolute;
  top: 241px;
  left: 731px;
  width: 501px;
  height: 84px;
  background-color: #d9d9d9;
}

.desktop .location-lubbock {
  position: absolute;
  top: 252px;
  left: 154px;
  width: 501px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  padding: 0 20px;
}

.desktop .annual-salary {
  position: absolute;
  top: 250px;
  left: 731px;
  width: 501px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  padding: 0 20px;
}

.desktop .rectangle-4 {
  position: absolute;
  top: 363px;
  left: 180px;
  width: 1070px;
  height: 163px;
  background-color: #d9d9d9;
}

.desktop .p {
  position: absolute;
  top: 381px;
  left: 210px;
  width: 999px;
  height: 121px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  padding: 0 20px;
}

.desktop .rectangle-5 {
  position: absolute;
  top: 567px;
  left: 196px;
  width: 1036px;
  height: 243px;
  background-color: #d9d9d9;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 567px;
  left: 196px;
  width: 1036px;
  height: 243px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 32px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  margin: 0;
  padding: 0 20px;
}
