.desktop {
  background-color: #1d224f;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: -43px;
  left: -18px;
  width: 1482px;
  height: 143px;
  background-color: #0f182b;
  border-radius: 15px;
}

.desktop .group {
  position: absolute;
  top: 841px;
  left: -83px;
  width: 264px;
  height: 222px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 132px / 111px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse {
  margin-top: 27px;
  width: 40px;
  height: 40px;
  margin-left: 112px;
  background-color: #5ea1b4;
  border-radius: 20px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .ellipse-wrapper {
  position: absolute;
  top: 908px;
  left: 1261px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .div {
  margin-top: 29.8px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 68.9px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .div-wrapper {
  position: absolute;
  top: 285px;
  left: 1330px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-2 {
  margin-top: 56px;
  width: 40.25px;
  height: 40.25px;
  margin-left: 11px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-2 {
  position: absolute;
  top: 921px;
  left: 653px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-3 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #5da9bf;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-3 {
  position: absolute;
  top: 883px;
  left: 511px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #53a1b6;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-4 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #469bb2;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-4 {
  position: absolute;
  top: 908px;
  left: 1104px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-5 {
  margin-top: 66px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 89px;
  background-color: #72adbe;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-5 {
  position: absolute;
  top: 931px;
  left: 127px;
  width: 164px;
  height: 169px;
  display: flex;
  background-color: #458ea3;
  border-radius: 82px / 84.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-6 {
  margin-top: 55px;
  width: 29.55px;
  height: 30.45px;
  margin-left: 39px;
  background-color: #5ea1b4;
  border-radius: 14.77px / 15.23px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-6 {
  position: absolute;
  top: 430px;
  left: 1373px;
  width: 154px;
  height: 154px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 77px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-7 {
  margin-top: 82px;
  width: 27.75px;
  height: 27.75px;
  margin-left: 47px;
  background-color: #72adbe;
  border-radius: 13.88px / 13.87px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .image {
  top: 0;
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 326px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .ellipse-8 {
  position: absolute;
  top: 132px;
  left: 44px;
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  border-radius: 75px;
}

.desktop .text-wrapper-2 {
  position: absolute;
  top: 225px;
  left: calc(50.00% - 493px);
  width: 302px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff6b;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  position: absolute;
  top: 157px;
  left: calc(50.00% - 493px);
  width: 302px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff6b;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .inbox-update-profile {
  position: absolute;
  top: 356px;
  left: 84px;
  width: 376px;
  opacity: 0.71;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.00px;
  line-height: 55px;
}

.desktop .group-wrapper {
  position: absolute;
  width: 835px;
  height: 287px;
  top: 50px;
  left: 437px;
  display: flex;
}

.desktop .group-7 {
  width: 847px;
  height: 287px;
  position: relative;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 0;
  left: 28px;
  width: 807px;
  height: 200px;
  border-radius: 52px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 40px;
  left: 45px;
  width: 266px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 89px;
  left: 36px;
  width: 275px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 138px;
  left: 0;
  width: 335px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 39px;
  left: 535px;
  width: 245px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3d43ff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 89px;
  left: 511px;
  width: 293px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #533ef8;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 140px;
  left: 511px;
  width: 305px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7363f2;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-8 {
  position: absolute;
  width: 835px;
  height: 287px;
  top: 557px;
  left: 437px;
  display: flex;
}

.desktop .img {
  top: 558px;
  left: 502px;
  width: 3px;
  height: 3px;
  aspect-ratio: 1;
  position: absolute;
  object-fit: cover;
}
/* Inject original globals.css styles here */

.desktop {
  background-color: #1d224f;
  overflow: hidden;
  width: 100%;
  min-width: 1440px;
  min-height: 1024px;
  position: relative;
}

.desktop .rectangle {
  position: absolute;
  top: -43px;
  left: -18px;
  width: 1482px;
  height: 143px;
  background-color: #0f182b;
  border-radius: 15px;
}

.desktop .group {
  position: absolute;
  top: 841px;
  left: -83px;
  width: 264px;
  height: 222px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 132px / 111px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse {
  margin-top: 27px;
  width: 40px;
  height: 50px;
  margin-left: 112px;
  background-color: #5ea1b4;
  border-radius: 20px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .ellipse-wrapper {
  position: absolute;
  top: 908px;
  left: 1261px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .div {
  margin-top: 29.8px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 68.9px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .div-wrapper {
  position: absolute;
  top: 285px;
  left: 1330px;
  width: 179px;
  height: 179px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 89.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-2 {
  margin-top: 56px;
  width: 32.25px;
  height: 32.25px;
  margin-left: 11px;
  background-color: #5ea1b4;
  border-radius: 16.12px / 16.13px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-2 {
  position: absolute;
  top: 921px;
  left: 653px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #3e7e90;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-3 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #5da9bf;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-3 {
  position: absolute;
  top: 883px;
  left: 511px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #53a1b6;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-4 {
  margin-top: 46px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 144px;
  background-color: #469bb2;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-4 {
  position: absolute;
  top: 908px;
  left: 1104px;
  width: 209px;
  height: 206px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 104.5px / 103px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-5 {
  margin-top: 66px;
  width: 37.66px;
  height: 37.12px;
  margin-left: 89px;
  background-color: #72adbe;
  border-radius: 18.83px / 18.56px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-5 {
  position: absolute;
  top: 931px;
  left: 127px;
  width: 164px;
  height: 169px;
  display: flex;
  background-color: #458ea3;
  border-radius: 82px / 84.5px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-6 {
  margin-top: 55px;
  width: 29.55px;
  height: 30.45px;
  margin-left: 39px;
  background-color: #5ea1b4;
  border-radius: 14.77px / 15.23px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop .group-6 {
  position: absolute;
  top: 430px;
  left: 1373px;
  width: 154px;
  height: 154px;
  display: flex;
  background-color: #1e8ba9;
  border-radius: 77px;
  border: 4px solid;
  border-color: #437eff;
}

.desktop .ellipse-7 {
  margin-top: 82px;
  width: 27.75px;
  height: 27.75px;
  margin-left: 47px;
  background-color: #72adbe;
  border-radius: 13.88px / 13.87px;
  border: 1px solid;
  border-color: #437eff;
}

.desktop header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.desktop .image {
  top: 0;
  left: 0;
  width: 294px;
  height: 82px;
  aspect-ratio: 3.56;
  position: absolute;
  object-fit: cover;
}

.desktop .text-wrapper {
  position: absolute;
  top: 0;
  left: 326px;
  mix-blend-mode: screen;
  font-family: "Inknut Antiqua-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .sidebar {
  position: absolute;
  top: 132px;
  left: 44px;
  width: 376px;
}

.desktop .profile-section {
  margin-bottom: 68px;
}

.desktop .ellipse-8 {
  width: 150px;
  height: 150px;
  background-color: #d9d9d9;
  border-radius: 75px;
  margin-bottom: 25px;
}

.desktop .text-wrapper-2 {
  width: 302px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff6b;
  font-size: 30px;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-3 {
  width: 302px;
  font-family: "Inter-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff6b;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 8px;
}

.desktop .inbox-update-profile {
  width: 376px;
  opacity: 0.71;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 40px;
  letter-spacing: 2.00px;
  line-height: 55px;
}

.desktop .inbox-update-profile ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop .inbox-update-profile li {
  margin-bottom: 0;
}

.desktop .inbox-update-profile a {
  color: #ffffff;
  text-decoration: none;
  display: block;
}

.desktop .inbox-update-profile a:hover {
  opacity: 0.8;
}

.desktop .inbox-update-profile a:focus {
  outline: 2px solid #ffffff;
  outline-offset: 2px;
}

.desktop .applications-content {
  position: relative;
  top: 254px;
  left: 400px;
  width: 835px;
}

.desktop .group-wrapper {
  width: 835px;
  height: 287px;
  display: flex;
  margin-bottom: 16px;
}

.desktop .group-7 {
  width: 847px;
  height: 287px;
  position: relative;
}

.desktop .rectangle-2 {
  position: absolute;
  top: 0;
  left: 28px;
  width: 807px;
  height: 200px;
  border-radius: 52px;
  border: 1px solid;
  border-color: #ffffff;
}

.desktop .text-wrapper-4 {
  position: absolute;
  top: 40px;
  left: 45px;
  width: 266px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-5 {
  position: absolute;
  top: 89px;
  left: 36px;
  width: 275px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-6 {
  position: absolute;
  top: 138px;
  left: 0;
  width: 335px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .text-wrapper-7 {
  position: absolute;
  top: 39px;
  left: 535px;
  width: 245px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #3d43ff;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.desktop .text-wrapper-7:hover {
  text-decoration: underline;
}

.desktop .text-wrapper-7:focus {
  outline: 2px solid #3d43ff;
  outline-offset: 2px;
}

.desktop .text-wrapper-8 {
  position: absolute;
  top: 89px;
  left: 511px;
  width: 293px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #533ef8;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: none;
}

.desktop .text-wrapper-8:hover {
  text-decoration: underline;
}

.desktop .text-wrapper-8:focus {
  outline: 2px solid #533ef8;
  outline-offset: 2px;
}

.desktop .text-wrapper-9 {
  position: absolute;
  top: 140px;
  left: 511px;
  width: 305px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #7363f2;
  font-size: 30px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.desktop .group-8 {
  width: 835px;
  height: 287px;
  top: 303px;
  position: relative;
  display: flex;
}

.desktop .img {
  top: 558px;
  left: 502px;
  width: 3px;
  height: 3px;
  aspect-ratio: 1;
  position: absolute;
  object-fit: cover;
}
